.infoHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description div {
    margin: 3% 0% 0% 15%;
    color: #fff;
    font-size: 15px;
}