.card {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    min-height: 350px;
}

.card img {
	width: 50%;
} 

.card button {
    border-style: none;
    background-color: #3a42ff;
    color: #fff;
    width: 40%;
    height: 42px;
}

.card h5 {
    font-weight: 900;
    margin-top: 30px;
}
